


/*Reset*/

*{
    margin:0;
    padding:0;
    font-family: garamond;

}

/*General Element Selectors*/

body {

    margin: auto;
    vertical-align: middle;
    background: -webkit-linear-gradient(180deg, #FFFFFF, #F0F0F0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #FFFFFF, #F0F0F0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #FFFFFF, #F0F0F0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #FFFFFF, #F0F0F0); /* Standard syntax */
    background: linear-gradient(180deg, #FFFFFF, #F0F0F0);
}


h1 {
    
    font-size: 4em;
    font-family: Verdana, Geneva, sans-serif;

}

h2 {
    
    font-size: 2em;
    margin: 10px;
    font-family: garamond;

}

label {

    text-align: left;

}

table {

    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border: 5px solid transparent;
    text-align: left;

}

td, th {

    margin: auto;
    padding: 5px;
    font-size: 1em;

}
p.italic {

    font-style: italic;

}
select {


    margin: 0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #6A6A6A;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d6fffd), color-stop(1, #bfcfe0));
    background:-moz-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-webkit-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-o-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-ms-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:linear-gradient(to bottom, #d6fffd 5%, #bfcfe0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6fffd', endColorstr='#bfcfe0',GradientType=0);
    color:#000000;
    display: inline-block;
    cursor:pointer;
    position: relative;

}

select:hover {

  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bfcfe0), color-stop(1, #d6fffd));
  background:-moz-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
  background:-webkit-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
  background:-o-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
  background:-ms-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
  background:linear-gradient(to bottom, #bfcfe0 5%, #d6fffd 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfcfe0', endColorstr='#d6fffd',GradientType=0);

}
select:active {
  position:relative;
  top:1px;
}

input {

    margin: auto;

}

footer {

    background-color : transparent;

}

/*Classes*/

.row0
  {
    background: #FFF2AC; 
  }
  
.row1
  {
    background: #FFF3D5; 
}


/*Wrappers*/
.titleWrapper {
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;    
    vertical-align: middle;
    text-align: center;
    background-color: #FFFFFF;
    clear: both;

}

.titleTransparentWrapper {
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;    
    vertical-align: middle;
    text-align: center;
    clear: both;

}

.buttonWrapper {
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;    
    vertical-align: middle;
    text-align: center;
    background-color: #FFFFFF;
    clear: both;

}


.whiteWrapper {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;    
    vertical-align: middle;
    text-align: center;
    width: 90%;    
    background-color: #FFFFFF;
    border: 2px dotted black;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #888888;
    clear: both;
    padding: 10px;
    z-index: 50;

}

.whiteWrapper p {

    font-family: garamond;

}

.whiteWrapper h1 {

    vertical-align: middle;
    text-align: center;
    font-size: 4em;
    font-family: garamond;
    padding: 0px;

}

.imageSlider {

vertical-align: middle;
margin-left: auto;
margin-right: auto;

}

.bodyWrapper {
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;   
    padding: 5px; 
    vertical-align: middle;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;

}


.bodyWrapper h1 {

    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.lightBeigeBodyWrapper {

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 42%;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    background: -webkit-linear-gradient(180deg, #FFF3D5, #FFF2AC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #FFF3D5, #FFF2AC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #FFF3D5, #FFF2AC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #FFF3D5, #FFF2AC); /* Standard syntax */
    background: linear-gradient(180deg, #FFF3D5, #FFF2AC);
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid #191450;
    border-radius: 10px;
    position: relative;
    z-index: 60;
    display: inline-block;

}

.centerClass{

    vertical-align: middle;
    margin-left: 0px;
    margin-right: 0px;

}

.textCenterClass {

    vertical-align: middle;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;

}

.leftClass{

    vertical-align: left;
    text-align: left;

}

.beigeBodyWrapper {

    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    background: -webkit-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #FFF7D4, #FFF6CF); /* Standard syntax */
    background: linear-gradient(180deg, #FFF7D4, #FFF6CF);
    box-shadow: 10px 10px 4px #888888;
    border: 2px solid #191450;
    border-radius: 2px;
    position: relative;
    float: left;
    z-index: 50;

}

.beigeBodyWrapper80 {

    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    background: -webkit-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #FFF7D4, #FFF6CF); /* Standard syntax */
    background: linear-gradient(180deg, #FFF7D4, #FFF6CF);
    box-shadow: 10px 10px 4px #888888;
    border: 1px solid #191450;
    border-radius: 2px;
    position: relative;
    clear: both;
    z-index: 50;

}

.beigeWrapper {

    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    background: -webkit-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #FFF7D4, #FFF6CF); /* Standard syntax */
    background: linear-gradient(180deg, #FFF7D4, #FFF6CF);
    box-shadow: 10px 10px 4px #888888;
    border: 2px solid #191450;
    border-radius: 2px;
    position: relative;
    z-index: 50;
    display: inline-block;

}

.postWrapper {

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    background: -webkit-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #FFF7D4, #FFF6CF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #FFF7D4, #FFF6CF); /* Standard syntax */
    background: linear-gradient(180deg, #FFF7D4, #FFF6CF);
    box-shadow: 10px 10px 4px #888888;
    border: 2px solid #191450;
    border-radius: 2px;
    position: relative;
    z-index: 50;
    display: inline-block;

}

.beigeWrapper p {

    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: garamond;

}

/*Buttons & Form Element Classes*/

.blueButton {

    padding:5px 10px;
    font-family:garamond;
    font-size:14px;
    text-decoration:none;
    text-shadow:0px 0px 0px #403300;    
    color:#000000;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d6fffd), color-stop(1, #bfcfe0));
    background:-moz-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-webkit-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-o-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-ms-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:linear-gradient(to bottom, #d6fffd 5%, #bfcfe0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6fffd', endColorstr='#bfcfe0',GradientType=0);
    background-color:#d6fffd;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #6A6A6A;
    display:inline-block;
    cursor:pointer;
    z-index: 90;

}
.blueButton:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bfcfe0), color-stop(1, #d6fffd));
    background:-moz-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:-webkit-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:-o-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:-ms-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:linear-gradient(to bottom, #bfcfe0 5%, #d6fffd 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfcfe0', endColorstr='#d6fffd',GradientType=0);

}

.blueButton:active {

  position:relative;

}

.cancelButton {

    margin: 10px;
    float: right;
    clear: both;
    z-index: 90;

}

.userLogIn {

    right: 5%;
    z-index: 99;

}

/*Text Area Classes*/

.textField {

   border: solid 1px #000000;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: inset -2px 2px 2px 1px #888888;
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
  
  }

.textField:hover  {

   border: 1px solid #000000;
  
  }
.textField:focus  {

   border: solid 1px #000000;
   box-shadow: inset 0px 1px 2px 0px #000000;
 
  }
.textField:active  {

   border: solid 1px #000000;
  
  }

  .largeTextArea {

   width: 100%;
   height: 600px;
   border: solid 1px #000000;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: inset -2px 2px 2px 1px #888888;
   background-color: #FFFFFF;
   color: #474747;
  
  }

.largeTextArea:hover  {

   border: 1px solid #000000;
 
  }

.largeTextArea:focus  {

   border: solid 1px #000000;
   box-shadow: inset 0px 1px 2px 0px #000000;
  
  }

.largeTextArea:active  {

   border: solid 1px #000000;
  
  }

.navigationMenu {

    z-index: 99;

}

.dropArea{

  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
  background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
  background-color:#768d87;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #4D2402;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  z-index: 90;


}

.dropArea a{
  color:#FFFFFF;
    font-family:arial;

  position:relative;
  top:1px;
  text-decoration: none
    }

.dropArea:hover{

  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
  background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
  background-color:#68a54b;
  text-decoration: none

}

.dropArea input{
    display:none;
}


.upload ul{
    list-style:none;
}





/*Color Classes*/

.red {

    color: red;

}
/*Image Classes*/

.thumbnail {
 

   vertical-align: middle;
   text-align: middle;
   position: relative;
   margin: auto;
   clear: both;

}

/*List Classes*/

  .list-group-item{

    text-align: left;

  }


/*Hidden ID Elements*/

#newIngredients {

    display: none;

}

#addAnotherIngredientForSubmit {

    display: none;

}

.blueDivider {

    margin: auto;
    padding: 20px;
    clear: both;

}

#slider1_container {

    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100%;

}

#slideID {

    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100%;

}

#upload{

    width:250px;
    padding:30px;
    margin: auto;
}




  .recipeInstructions {
   width: 100%;
   height: 600px;
   border: solid 1px #000000;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: inset -2px 2px 2px 1px #888888;
   background-color: #FFFFFF;
   color: #474747;
  }
.recipeInstructions:hover  {
   border: 1px solid #000000;
  }
.recipeInstructions:focus  {
   border: solid 1px #000000;
   box-shadow: inset 0px 1px 2px 0px #000000;
  }
.recipeInstructions:active  {
   border: solid 1px #000000;
  }

  .newRecipe {




  }

  @media print {
      * { 
  
        background: transparent !important; 
        color: black !important; 
        text-shadow: none !important; 
        filter:none !important;
        -ms-filter: none !important; 

      } 

      body { 

        background: white; 
        margin : 0;
        margin-bottom : 0;
        margin-left : 0;
        margin-right : 0;
        margin-top : 0;
        font-family: Georgia, ‘Times New Roman’, serif; 
        vertical-align : baseline;
      } 


      @page { margin: 0.5cm; }

      h1 {
          
          margin : 0;
          margin-bottom : 0;
          margin-left : 0;
          margin-right : 0;
          margin-top : 0;
          size: 18pt;

      
      }

      p, h2, h3 { orphans: 3; widows: 3; }

      h2, h3{ page-break-after: avoid; }

      .hide-on-print { display: none !important; }

      .print-only { display: block !important; }
  
      #sidebar { display: none; } 

      #content { background: transparent; }

      #author { color: #111; } 

      a:link:after { content: " (" attr(href) ") "; }
      a:link { font-weight: bold; text-decoration: underline; color: #06c; } 
    
      .postWrapper {
      
          margin : 0;
          margin-bottom : 0;
          margin-left : 0;
          margin-right : 0;
          margin-top : 0;
          width: 100%;
          padding: 5px;
          background-color : transparent; /* For Safari 5.1 to 6.0 */
          box-shadow : none;
          border : 0;
          border-radius : 0;
          float : none;
          position : static;
          display : inline;
      
      }

      .whiteWrapper {
          
          vertical-align : baseline;
          width: 100%;
          margin : 0;
          margin-bottom : 0;
          margin-left : 0;
          margin-right : 0;
          margin-top : 0;
          background-color : transparent;
          border : 0;
          border-radius : 0;
          box-shadow : none;
          padding: 5%;
          display: inline;
          clear: none;

      
      }

      #button {

         display: none;

      }

      .cancelButton {

          display: none;

      }

      .centerClass{
      
        background-color : transparent;
        margin : 0;
        margin-bottom : 0;
        margin-left : 0;
        margin-right : 0;
        margin-top : 0;
        font-family: Georgia, ‘Times New Roman’, serif; 
        vertical-align : baseline;
      
      }

      .bodyWrapper {
          
        width: 100%;
        margin : 0;
        margin-bottom : 0;
        margin-left : 0;
        margin-right : 0;
        margin-top : 0;
        vertical-align : baseline;
        background-color : transparent;
        box-shadow: none;
      
      }


    }