/*Reset*/

*{
    margin:0;
    padding:0;
}

/*General Element Selectors*/

body {

    margin: auto;
    vertical-align: middle;
    background: -webkit-linear-gradient(180deg, #FFEE90, #FFF3C9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #FFEE90, #FFF3C9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #FFEE90, #FFF3C9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #FFEE90, #FFF3C9); /* Standard syntax */
    background: linear-gradient(180deg, #FFEE90, #FFF3C9);
}


h1 {
    
    font-size: 4em;
    margin: 10px;
    font-family: garamond;

}

h2 {
    
    font-size: 2em;
    margin: 10px;
    font-family: garamond;

}

p.italic {

    font-style: italic;

}
select {


    margin: 0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #6A6A6A;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d6fffd), color-stop(1, #bfcfe0));
    background:-moz-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-webkit-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-o-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-ms-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:linear-gradient(to bottom, #d6fffd 5%, #bfcfe0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6fffd', endColorstr='#bfcfe0',GradientType=0);
    color:#000000;
    display: inline-block;
    cursor:pointer;
    position: relative;

}

select:hover {

  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bfcfe0), color-stop(1, #d6fffd));
  background:-moz-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
  background:-webkit-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
  background:-o-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
  background:-ms-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
  background:linear-gradient(to bottom, #bfcfe0 5%, #d6fffd 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfcfe0', endColorstr='#d6fffd',GradientType=0);

}
select:active {
  position:relative;
  top:1px;
}

input {

    margin: auto;

}

li {

    list-style: none;
  
}
/*Classes*/


/*Wrappers*/


.whiteWrapper {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;    
    vertical-align: middle;
    text-align: center;
    width: 80%;    
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    padding: 5%;
    clear: both;
    z-index: 2;

}

.whiteWrapper p {

    font-family: garamond;

}

.whiteWrapper h1 {

    vertical-align: middle;
    text-align: center;
    font-size: 4em;
    font-family: garamond;
    margin: 20px;
    padding: 0px;

}

.whiteWrapper p {

    font-family: garamond;
    text-align: left;

}

.whiteWrapper li {

    font-family: garamond;
    text-align: left;

} 

#blue{

    text-align: center;
    margin: auto;
    background: -webkit-linear-gradient(180deg, #005BFF, #E3EFAB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #005BFF, #E3EFAB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #005BFF, #E3EFAB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #005BFF, #E3EFAB); /* Standard syntax */
    background: linear-gradient(180deg, #005BFF, #E3EFAB);
    width: 30%;
    height: 100px;
    border: solid 2px #27154C;
    border-radius: 5px;



    -webkit-transition: width linear 2s, height linear 2s, background linear 4s, padding linear 2s, border linear 1s;
    /* For Safari 3.1 to 6.0 */
    transition: width linear 2s, height linear 2s, background-color linear 4s, padding linear 2s, border linear 1s;

}

#blue:hover {

    width: 70%;
    height: 200px;
    padding: 15%;
    background: -webkit-linear-gradient(180deg, #A4E8E1, #E3EFAB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #A4E8E1, #E3EFAB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #A4E8E1, #E3EFAB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #A4E8E1, #E3EFAB); /* Standard syntax */
    background: linear-gradient(180deg, #A4E8E1, #E3EFAB);
    border: solid 6px #521818;


}

.beigeWrapper {

/*     -webkit-transition: transform cubic-bezier(.49,.61,.72,1.33) 2s, perspective cubic-bezier(.49,.61,.72,1.33) 2s, width cubic-bezier(.49,.61,.72,1.33) 2s;
For Safari 3.1 to 6.0
transition: transform cubic-bezier(.49,.61,.72,1.33) 2s, perspective cubic-bezier(.49,.61,.72,1.33) 2s, width cubic-bezier(.49,.61,.72,1.33) 2s;

transform properties

transform: rotateY(90deg) rotateX(360deg) rotateZ(180deg) scale(.05,.05);
 width: 5%;
-webkit-perspective: 70px;
-webkit-perspective-origin: 50% 70px;
-moz-perspective: 70px;
-moz-perspective-origin: 50% 70px;
perspective: 70px;
perspective-origin: 50% 70px;  */

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    background: -webkit-linear-gradient(180deg, #FEFFA0, #E3EFAB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #FEFFA0, #E3EFAB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #FEFFA0, #E3EFAB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #FEFFA0, #E3EFAB); /* Standard syntax */
    background: linear-gradient(180deg, #FEFFA0, #E3EFAB);
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid #191450;
    border-radius: 10px;
    position: relative;
    z-index: 8;

}

/*  .beigeWrapper:hover {

   transform: scale(2,2);
  -webkit-transform" : rotateZ(720deg) rotateX(720deg) rotateY(720deg) scale(2,2);
  -moz-transform : rotateZ(720deg) rotateX(720deg) rotateY(720deg) scale(2,2);
  -ms-transform : rotateZ(720deg) rotateX(720deg) rotateY(720deg) scale(2,2);
  -o-transform : rotateZ(720deg) rotateX(720deg) rotateY(720deg) scale(2,2);
  transform : rotateZ(720deg) rotateX(720deg) rotateY(720deg) scale(2,2);

} 
*/
.beigeWrapperbackup {

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    background: -webkit-linear-gradient(180deg, #FEFFA0, #E3EFAB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #FEFFA0, #E3EFAB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #FEFFA0, #E3EFAB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #FEFFA0, #E3EFAB); /* Standard syntax */
    background: linear-gradient(180deg, #FEFFA0, #E3EFAB);
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid #191450;
    border-radius: 10px;
    position: relative;

    -webkit-transition: size linear 2s, height linear 2s, background linear 4s, padding linear 2s, border linear 1s;
    /* For Safari 3.1 to 6.0 */
    transition: size linear 2s, height linear 2s, background-color linear 4s, padding linear 2s, border linear 1s;


}

.beigeWrapper p {

    margin-left: auto;
    margin-right: auto;
    font-family: garamond;

}

/*Buttons & Form Element Classes*/

.blueButton {

    padding:5px 10px;
    font-family:garamond;
    font-size:14px;
    text-decoration:none;
    text-shadow:0px 0px 0px #403300;    
    color:#000000;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d6fffd), color-stop(1, #bfcfe0));
    background:-moz-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-webkit-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-o-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-ms-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:linear-gradient(to bottom, #d6fffd 5%, #bfcfe0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6fffd', endColorstr='#bfcfe0',GradientType=0);
    background-color:#d6fffd;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #6A6A6A;
    display:inline-block;
    cursor:pointer;

}
.blueButton:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bfcfe0), color-stop(1, #d6fffd));
    background:-moz-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:-webkit-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:-o-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:-ms-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:linear-gradient(to bottom, #bfcfe0 5%, #d6fffd 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfcfe0', endColorstr='#d6fffd',GradientType=0);

}

.blueButton:active {

  position:relative;

}

.cancelButton {

    margin: 10px;
    float: right;
    clear: both;

}

/*Text Area Classes*/

.textField {

   border: solid 1px #000000;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: inset -2px 2px 2px 1px #888888;
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
  
  }

.textField:hover  {

   border: 1px solid #000000;
  
  }
.textField:focus  {

   border: solid 1px #000000;
   box-shadow: inset 0px 1px 2px 0px #000000;
 
  }
.textField:active  {

   border: solid 1px #000000;
  
  }

  .largeTextArea {

   width: 100%;
   height: 600px;
   border: solid 1px #000000;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: inset -2px 2px 2px 1px #888888;
   background-color: #FFFFFF;
   color: #474747;
  
  }

.largeTextArea:hover  {

   border: 1px solid #000000;
 
  }

.largeTextArea:focus  {

   border: solid 1px #000000;
   box-shadow: inset 0px 1px 2px 0px #000000;
  
  }

.largeTextArea:active  {

   border: solid 1px #000000;
  
  }

.dropArea{
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px; 
    margin: auto;    
    vertical-align: middle;
    text-align: center;
    /*background-image:  url('Icons/lacedLightly.jpg');*/    
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
    border: 2px solid #191450;
    position: relative;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d6fffd), color-stop(1, #bfcfe0));
    background:-moz-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-webkit-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-o-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:-ms-linear-gradient(top, #d6fffd 5%, #bfcfe0 100%);
    background:linear-gradient(to bottom, #d6fffd 5%, #bfcfe0 100%);
  

}

.dropArea a{

    margin-top: auto;
    padding:15px;
    color:#000000;
    cursor:pointer;
    display:inline-block;
    line-height:1;

    }

.dropArea:hover{

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bfcfe0), color-stop(1, #d6fffd));
    background:-moz-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:-webkit-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:-o-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:-ms-linear-gradient(top, #bfcfe0 5%, #d6fffd 100%);
    background:linear-gradient(to bottom, #bfcfe0 5%, #d6fffd 100%);

}

.dropArea input{
    display:none;
}


.upload ul{
    list-style:none;
}

.upload ul li{
    height: 52px;
    position: relative;
}

.upload ul li input{
    display: none;
}

.upload ul li p{
    width: 144px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

.upload ul li i{
    font-weight: normal;
    font-style:normal;
    display:block;
}

.upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

.upload ul li span{
    width: 15px;
    height: 12px;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

.upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

.upload ul li.error p{
    color:red;
}


/*Image Classes*/

.thumbnail {
 
    -webkit-transition: transform cubic-bezier(0.25,0.1,0.25,1) 2s, width cubic-bezier(0.25,0.1,0.25,1) 2s;
    /* For Safari 3.1 to 6.0 */
    transition: transform cubic-bezier(0.25,0.1,0.25,1) 2s, width cubic-bezier(0.25,0.1,0.25,1) 2s;
    
    /*transform properties*/
width: 100%;
   transform: scale(1,1) rotateZ(-180deg);

   vertical-align: middle;
   text-align: middle;
   position: relative;
   margin: auto;
   clear: both;
   z-index: 10;

}


.thumbnail:hover {
 
transform: scale(1.1,1.1);

}

List Classes 

  .list-group-item{

    text-align: left;

  }


/*Hidden ID Elements*/

#newIngredients {

    display: none;

}

#addAnotherIngredientForSubmit {

    display: none;

}

.hidden {

    

}


.blueDivider {

    margin: auto;
    padding: 20px;
    clear: both;

}

.upload{

    width:250px;
    padding:30px;
    margin: auto;
}

/*Color Classes*/

.red {

    color: red;

}








